<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sinodata.mapper.RepayplanDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sinodata.model.RepayplanDetail" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RPYPID" property="rpypid" jdbcType="VARCHAR" />
    <result column="CURSTAGE" property="curstage" jdbcType="VARCHAR" />
    <result column="CURRPYAMT" property="currpyamt" jdbcType="VARCHAR" />
    <result column="CURRPYINT" property="currpyint" jdbcType="VARCHAR" />
    <result column="KEEPPRININT" property="keepprinint" jdbcType="VARCHAR" />
    <result column="PLANRPYDT" property="planrpydt" jdbcType="VARCHAR" />
    <result column="CURRPYDT" property="currpydt" jdbcType="VARCHAR" />
    <result column="CURRPYSTATE" property="currpystate" jdbcType="VARCHAR" />
    <result column="KEEPINT" property="keepint" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RPYPID, CURSTAGE, CURRPYAMT, CURRPYINT, KEEPPRININT, PLANRPYDT, CURRPYDT, CURRPYSTATE, 
    KEEPINT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.net.sinodata.model.RepayplanDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from repayplan_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from repayplan_detail
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from repayplan_detail
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.net.sinodata.model.RepayplanDetailExample" >
    delete from repayplan_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.net.sinodata.model.RepayplanDetail" >
    insert into repayplan_detail (ID, RPYPID, CURSTAGE, 
      CURRPYAMT, CURRPYINT, KEEPPRININT, 
      PLANRPYDT, CURRPYDT, CURRPYSTATE, 
      KEEPINT)
    values (#{id,jdbcType=VARCHAR}, #{rpypid,jdbcType=VARCHAR}, #{curstage,jdbcType=VARCHAR}, 
      #{currpyamt,jdbcType=VARCHAR}, #{currpyint,jdbcType=VARCHAR}, #{keepprinint,jdbcType=VARCHAR}, 
      #{planrpydt,jdbcType=VARCHAR}, #{currpydt,jdbcType=VARCHAR}, #{currpystate,jdbcType=VARCHAR}, 
      #{keepint,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sinodata.model.RepayplanDetail" >
    insert into repayplan_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="rpypid != null" >
        RPYPID,
      </if>
      <if test="curstage != null" >
        CURSTAGE,
      </if>
      <if test="currpyamt != null" >
        CURRPYAMT,
      </if>
      <if test="currpyint != null" >
        CURRPYINT,
      </if>
      <if test="keepprinint != null" >
        KEEPPRININT,
      </if>
      <if test="planrpydt != null" >
        PLANRPYDT,
      </if>
      <if test="currpydt != null" >
        CURRPYDT,
      </if>
      <if test="currpystate != null" >
        CURRPYSTATE,
      </if>
      <if test="keepint != null" >
        KEEPINT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rpypid != null" >
        #{rpypid,jdbcType=VARCHAR},
      </if>
      <if test="curstage != null" >
        #{curstage,jdbcType=VARCHAR},
      </if>
      <if test="currpyamt != null" >
        #{currpyamt,jdbcType=VARCHAR},
      </if>
      <if test="currpyint != null" >
        #{currpyint,jdbcType=VARCHAR},
      </if>
      <if test="keepprinint != null" >
        #{keepprinint,jdbcType=VARCHAR},
      </if>
      <if test="planrpydt != null" >
        #{planrpydt,jdbcType=VARCHAR},
      </if>
      <if test="currpydt != null" >
        #{currpydt,jdbcType=VARCHAR},
      </if>
      <if test="currpystate != null" >
        #{currpystate,jdbcType=VARCHAR},
      </if>
      <if test="keepint != null" >
        #{keepint,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.net.sinodata.model.RepayplanDetailExample" resultType="java.lang.Integer" >
    select count(*) from repayplan_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update repayplan_detail
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rpypid != null" >
        RPYPID = #{record.rpypid,jdbcType=VARCHAR},
      </if>
      <if test="record.curstage != null" >
        CURSTAGE = #{record.curstage,jdbcType=VARCHAR},
      </if>
      <if test="record.currpyamt != null" >
        CURRPYAMT = #{record.currpyamt,jdbcType=VARCHAR},
      </if>
      <if test="record.currpyint != null" >
        CURRPYINT = #{record.currpyint,jdbcType=VARCHAR},
      </if>
      <if test="record.keepprinint != null" >
        KEEPPRININT = #{record.keepprinint,jdbcType=VARCHAR},
      </if>
      <if test="record.planrpydt != null" >
        PLANRPYDT = #{record.planrpydt,jdbcType=VARCHAR},
      </if>
      <if test="record.currpydt != null" >
        CURRPYDT = #{record.currpydt,jdbcType=VARCHAR},
      </if>
      <if test="record.currpystate != null" >
        CURRPYSTATE = #{record.currpystate,jdbcType=VARCHAR},
      </if>
      <if test="record.keepint != null" >
        KEEPINT = #{record.keepint,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update repayplan_detail
    set ID = #{record.id,jdbcType=VARCHAR},
      RPYPID = #{record.rpypid,jdbcType=VARCHAR},
      CURSTAGE = #{record.curstage,jdbcType=VARCHAR},
      CURRPYAMT = #{record.currpyamt,jdbcType=VARCHAR},
      CURRPYINT = #{record.currpyint,jdbcType=VARCHAR},
      KEEPPRININT = #{record.keepprinint,jdbcType=VARCHAR},
      PLANRPYDT = #{record.planrpydt,jdbcType=VARCHAR},
      CURRPYDT = #{record.currpydt,jdbcType=VARCHAR},
      CURRPYSTATE = #{record.currpystate,jdbcType=VARCHAR},
      KEEPINT = #{record.keepint,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sinodata.model.RepayplanDetail" >
    update repayplan_detail
    <set >
      <if test="rpypid != null" >
        RPYPID = #{rpypid,jdbcType=VARCHAR},
      </if>
      <if test="curstage != null" >
        CURSTAGE = #{curstage,jdbcType=VARCHAR},
      </if>
      <if test="currpyamt != null" >
        CURRPYAMT = #{currpyamt,jdbcType=VARCHAR},
      </if>
      <if test="currpyint != null" >
        CURRPYINT = #{currpyint,jdbcType=VARCHAR},
      </if>
      <if test="keepprinint != null" >
        KEEPPRININT = #{keepprinint,jdbcType=VARCHAR},
      </if>
      <if test="planrpydt != null" >
        PLANRPYDT = #{planrpydt,jdbcType=VARCHAR},
      </if>
      <if test="currpydt != null" >
        CURRPYDT = #{currpydt,jdbcType=VARCHAR},
      </if>
      <if test="currpystate != null" >
        CURRPYSTATE = #{currpystate,jdbcType=VARCHAR},
      </if>
      <if test="keepint != null" >
        KEEPINT = #{keepint,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sinodata.model.RepayplanDetail" >
    update repayplan_detail
    set RPYPID = #{rpypid,jdbcType=VARCHAR},
      CURSTAGE = #{curstage,jdbcType=VARCHAR},
      CURRPYAMT = #{currpyamt,jdbcType=VARCHAR},
      CURRPYINT = #{currpyint,jdbcType=VARCHAR},
      KEEPPRININT = #{keepprinint,jdbcType=VARCHAR},
      PLANRPYDT = #{planrpydt,jdbcType=VARCHAR},
      CURRPYDT = #{currpydt,jdbcType=VARCHAR},
      CURRPYSTATE = #{currpystate,jdbcType=VARCHAR},
      KEEPINT = #{keepint,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>