<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sinodata.mapper.ServiceCompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sinodata.model.ServiceCompanyInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROJECT_INFO_ID" property="projectInfoId" jdbcType="VARCHAR" />
    <result column="COMPANY_ID" property="companyId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
    <result column="REASON_FOR_CANCELLATION" property="reasonForCancellation" jdbcType="VARCHAR" />
    <result column="EVALUATION" property="evaluation" jdbcType="VARCHAR" />
    <result column="LOANS_MONEY" property="loansMoney" jdbcType="VARCHAR" />
    <result column="SHAREHOLDING_RATIO" property="shareholdingRatio" jdbcType="VARCHAR" />
    <result column="PAWN" property="pawn" jdbcType="VARCHAR" />
    <result column="ASSESS_THE_AMOUNT" property="assessTheAmount" jdbcType="VARCHAR" />
    <result column="EVALUATION_TIME" property="evaluationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PROJECT_INFO_ID, COMPANY_ID, TYPE, STATUS, CREATE_TIME, MOD_TIME, REASON_FOR_CANCELLATION, 
    EVALUATION, LOANS_MONEY, SHAREHOLDING_RATIO, PAWN, ASSESS_THE_AMOUNT, EVALUATION_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.net.sinodata.model.ServiceCompanyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SERVICE_COMPANY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SERVICE_COMPANY_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SERVICE_COMPANY_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.net.sinodata.model.ServiceCompanyInfoExample" >
    delete from SERVICE_COMPANY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.net.sinodata.model.ServiceCompanyInfo" >
    insert into SERVICE_COMPANY_INFO (ID, PROJECT_INFO_ID, COMPANY_ID, 
      TYPE, STATUS, CREATE_TIME, 
      MOD_TIME, REASON_FOR_CANCELLATION, EVALUATION, 
      LOANS_MONEY, SHAREHOLDING_RATIO, PAWN, 
      ASSESS_THE_AMOUNT, EVALUATION_TIME)
    values (#{id,jdbcType=VARCHAR}, #{projectInfoId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modTime,jdbcType=TIMESTAMP}, #{reasonForCancellation,jdbcType=VARCHAR}, #{evaluation,jdbcType=VARCHAR}, 
      #{loansMoney,jdbcType=VARCHAR}, #{shareholdingRatio,jdbcType=VARCHAR}, #{pawn,jdbcType=VARCHAR}, 
      #{assessTheAmount,jdbcType=VARCHAR}, #{evaluationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sinodata.model.ServiceCompanyInfo" >
    insert into SERVICE_COMPANY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="projectInfoId != null" >
        PROJECT_INFO_ID,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modTime != null" >
        MOD_TIME,
      </if>
      <if test="reasonForCancellation != null" >
        REASON_FOR_CANCELLATION,
      </if>
      <if test="evaluation != null" >
        EVALUATION,
      </if>
      <if test="loansMoney != null" >
        LOANS_MONEY,
      </if>
      <if test="shareholdingRatio != null" >
        SHAREHOLDING_RATIO,
      </if>
      <if test="pawn != null" >
        PAWN,
      </if>
      <if test="assessTheAmount != null" >
        ASSESS_THE_AMOUNT,
      </if>
      <if test="evaluationTime != null" >
        EVALUATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectInfoId != null" >
        #{projectInfoId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reasonForCancellation != null" >
        #{reasonForCancellation,jdbcType=VARCHAR},
      </if>
      <if test="evaluation != null" >
        #{evaluation,jdbcType=VARCHAR},
      </if>
      <if test="loansMoney != null" >
        #{loansMoney,jdbcType=VARCHAR},
      </if>
      <if test="shareholdingRatio != null" >
        #{shareholdingRatio,jdbcType=VARCHAR},
      </if>
      <if test="pawn != null" >
        #{pawn,jdbcType=VARCHAR},
      </if>
      <if test="assessTheAmount != null" >
        #{assessTheAmount,jdbcType=VARCHAR},
      </if>
      <if test="evaluationTime != null" >
        #{evaluationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.net.sinodata.model.ServiceCompanyInfoExample" resultType="java.lang.Integer" >
    select count(*) from SERVICE_COMPANY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SERVICE_COMPANY_INFO
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectInfoId != null" >
        PROJECT_INFO_ID = #{record.projectInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modTime != null" >
        MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reasonForCancellation != null" >
        REASON_FOR_CANCELLATION = #{record.reasonForCancellation,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluation != null" >
        EVALUATION = #{record.evaluation,jdbcType=VARCHAR},
      </if>
      <if test="record.loansMoney != null" >
        LOANS_MONEY = #{record.loansMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.shareholdingRatio != null" >
        SHAREHOLDING_RATIO = #{record.shareholdingRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.pawn != null" >
        PAWN = #{record.pawn,jdbcType=VARCHAR},
      </if>
      <if test="record.assessTheAmount != null" >
        ASSESS_THE_AMOUNT = #{record.assessTheAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationTime != null" >
        EVALUATION_TIME = #{record.evaluationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SERVICE_COMPANY_INFO
    set ID = #{record.id,jdbcType=VARCHAR},
      PROJECT_INFO_ID = #{record.projectInfoId,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP},
      REASON_FOR_CANCELLATION = #{record.reasonForCancellation,jdbcType=VARCHAR},
      EVALUATION = #{record.evaluation,jdbcType=VARCHAR},
      LOANS_MONEY = #{record.loansMoney,jdbcType=VARCHAR},
      SHAREHOLDING_RATIO = #{record.shareholdingRatio,jdbcType=VARCHAR},
      PAWN = #{record.pawn,jdbcType=VARCHAR},
      ASSESS_THE_AMOUNT = #{record.assessTheAmount,jdbcType=VARCHAR},
      EVALUATION_TIME = #{record.evaluationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sinodata.model.ServiceCompanyInfo" >
    update SERVICE_COMPANY_INFO
    <set >
      <if test="projectInfoId != null" >
        PROJECT_INFO_ID = #{projectInfoId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reasonForCancellation != null" >
        REASON_FOR_CANCELLATION = #{reasonForCancellation,jdbcType=VARCHAR},
      </if>
      <if test="evaluation != null" >
        EVALUATION = #{evaluation,jdbcType=VARCHAR},
      </if>
      <if test="loansMoney != null" >
        LOANS_MONEY = #{loansMoney,jdbcType=VARCHAR},
      </if>
      <if test="shareholdingRatio != null" >
        SHAREHOLDING_RATIO = #{shareholdingRatio,jdbcType=VARCHAR},
      </if>
      <if test="pawn != null" >
        PAWN = #{pawn,jdbcType=VARCHAR},
      </if>
      <if test="assessTheAmount != null" >
        ASSESS_THE_AMOUNT = #{assessTheAmount,jdbcType=VARCHAR},
      </if>
      <if test="evaluationTime != null" >
        EVALUATION_TIME = #{evaluationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sinodata.model.ServiceCompanyInfo" >
    update SERVICE_COMPANY_INFO
    set PROJECT_INFO_ID = #{projectInfoId,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      REASON_FOR_CANCELLATION = #{reasonForCancellation,jdbcType=VARCHAR},
      EVALUATION = #{evaluation,jdbcType=VARCHAR},
      LOANS_MONEY = #{loansMoney,jdbcType=VARCHAR},
      SHAREHOLDING_RATIO = #{shareholdingRatio,jdbcType=VARCHAR},
      PAWN = #{pawn,jdbcType=VARCHAR},
      ASSESS_THE_AMOUNT = #{assessTheAmount,jdbcType=VARCHAR},
      EVALUATION_TIME = #{evaluationTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <resultMap extends="BaseResultMap" id="ServiceCompanyInfoVoResultMap" type="cn.net.sinodata.vo.ServiceCompanyInfoVo">
		<result column="ORGNAME" jdbcType="VARCHAR" property="orgname" />
	</resultMap>
	<!-- 按照example连表查询SERVICE_COMPANY_INFO和T_ORGANS -->
	 <select id="selectByServiceCompanyInfoVoExample" parameterType="cn.net.sinodata.model.ServiceCompanyInfoExample" resultMap="ServiceCompanyInfoVoResultMap">
		select
			ME.REASON_FOR_CANCELLATION reasonForCancellation, ME.EVALUATION_TIME evaluationTime, ME.STATUS status,
			ME.LOANS_MONEY loansMoney, ME.SHAREHOLDING_RATIO shareholdingRatio, ME.PAWN pawn, 
			O.ORGNAME orgname 
			from (select * from SERVICE_COMPANY_INFO
			<if test="_parameter != null">
				<include refid="Example_Where_Clause" />
			</if>
		) ME LEFT OUTER JOIN T_ORGANS O ON ME.COMPANY_ID = O.ID
		
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>	
	
	</select>
</mapper>